image: node:6

before_script:
  - node -v
  - npm -v

cache:
  script: echo "caching -> ./node_modules/"
  paths: 
    - node_modules/
    - dist/
    - artifact/
    
stages:
  - install_dependencies
  - build_artifact

install_dependencies:
  stage: install_dependencies
  script:
    - npm install -g webpack
    - npm install

build_artifact:
  stage: build_artifact
  script:
      - npm run build
      - mkdir artifact
      - mv dist/ ./artifact
      - cp server.js ./artifact
      - cp package.json ./artifact
      - cd ./artifact
      - npm install --production
      - cd ../