image: node:6

before_script:
  - node -v
  - npm -v

cache:
  paths: 
    - node_modules/
    - dist/
    - artifact/
    
stages:
  - clean
  - setup
  - test
  - build
  - artifact

clean_build_directories:
  stage: clean
  script:
    - rm -rf dist artifact

install_dependencies:
  stage: setup
  script:
    - npm install -g webpack
    - npm install

test_webapp:
  stage: test
  script: 
    - echo "TODO unit & integration testing"

create_dist:
  stage: build
  script:
      - npm run build

build_artifact:
  stage: artifact
  script:
      - mkdir artifact
      - mv dist/ ./artifact
      - cp server.js ./artifact
      - cp package.json ./artifact
      - cd ./artifact
      - npm install --production
      - cd ../