@import '../../../../ws-core/sass/index.scss';
$color: white;
$background: #444;

.journey {
    position: relative;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
    color: $color;
    background: rgba($col-background, 0.5);
}

.itinerary {
    @extend .ws-card;
    color: $color;
    background: $background;
    cursor: pointer;
    &:hover {
        background: lighten($background, 5%);
    }
}

.leg {

}