@import '../../../../ws-core/sass/index.scss';
$color: white;
$background: #444;
$padding: 0.5rem;

.journey {
    position: relative;
    height: 100%;
    padding: $padding;
    overflow-y: auto;
    color: $color;
    background: rgba($col-background, 0.5);

    .labeled-value {
        display: flex;
        flex-direction: row;
    }
}

.itinerary {
    @extend .ws-card;
    color: $color;
    background: $background;
    padding: $padding;

    cursor: pointer;
    &:hover {
        background: lighten($background, 5%);
    }
}

.leg {
    padding: $padding;
}

.waypoint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;

    span {
        margin-bottom: 1em;
    }
}