@import '../../app.scss';

.journeys {
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: calc(100% - #{$dim-navbar-height});
    background: #444444;

    .map-wrapper {
        top: 0;
        height: 20rem;
    }

    .journey-wrapper {
        position: fixed;
        height: 10rem;
        width: 50%;
        bottom: 0;
        display: none;
    }
}

